.nav {
  background-color: greenyellow;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 2 / -1;
  padding: 1.5rem;

  &__hamburger {
    > span {
      background-color: $color-secondary;
      display: block;
      height: 0.2rem;
      transform-origin: 12px 2px;
      transition: all 0.2s;
      width: 5rem;

      &:not(:last-child) {
        margin-bottom: 0.7rem;
      }
    }

    &.open {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }
}
