.works {
  border: black double 5px;
  display: grid;
  gap: 1.5rem;
  grid-column: full-start / full-end;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 5vw);
  padding: 1.5rem;

  &__item {
    &--1 {
      grid-column: 1 / span 2;
      grid-row: 1 / span 5;
    }

    &--2 {
      grid-column: 1 / span 3;
      grid-row: 6 / span 7;
    }

    &--3 {
      grid-column: 3 / span 3;
      grid-row: 1 / span 3;
    }

    &--4 {
      grid-column: 4 / span 3;
      grid-row: 4 / span 5;
    }

    &--5 {
      grid-column: 3 / span 1;
      grid-row: 4 / span 2;
    }

    &--6 {
      grid-column: 7 / span 2;
      grid-row: 1 / span 5;
    }

    &--7 {
      grid-column: 6 / span 1;
      grid-row: 1 / span 3;
    }

    &--8 {
      grid-column: 7 / span 2;
      grid-row: 6 / -1;
    }

    &--9 {
      grid-column: 4 / span 3;
      grid-row: 9 / span 4;
    }
  }

  &__img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
